# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.i*86
*.x86_64
*.hex
/bin/
/sbin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store


.env
